* {font-family:tahoma,arial;font-size:13px;}
html, body {margin:0px 0 150px 0;padding:0;}
* a {cursor:pointer;}
.header {margin:0;padding:0; }
.header .h2 {margin:0px;padding:0px;background:#2a579a;border-bottom: 1px solid #4e7abb;}
.header .h2 h2 {font-size:18px;color:#eee;font-family:tahoma,arial;font-weight:400;margin:0px;padding:0px;}
.header .h2 img {width:20px;padding:10px;border-radius:20px;}
.header .h2 img:hover {background: #113e82;}
.header .menu {margin:0;padding:5px 7px;border-bottom:1px solid #999;background:#3b68ab;color:#fff;}
.header .menu a {margin:5px 2px;padding:5px 2px;text-decoration:none;color:#fff;font-weight:100;font-size:14px;}
.content {margin:0px 5px 0px 5px;padding:5px;}
.content h2 {font-size:21px;margin:2px 0px;padding:2px 0px;}
.content .pok p {padding:0;margin:4px 0;}
.content .pok a, .content .pok * a {cursor: pointer; color:blue;}
.content .pok div {margin:0 0 0 20px;}
.content .pok img{height:14px;}
.content .pok table tr td {border-bottom:1px solid #ccc;}

.table {border-left:1px solid #dee3eb; border-top:1px solid #dee3eb; border-spacing: 0px; border-collapse: separate;}

.table tr td,table tr th {border-right:1px solid #dee3eb; border-bottom:1px solid #dee3eb; padding:3px;}
.table tr th {font-size:14px;font-weight:400;}
.table tr td {font-size:12px;}
.table tr td * img{height:16px;}
.table thead tr {background:#3b68ab;color:#fff;}
.table thead tr:hover {background:#023b91;color:#fff;
}
.table tbody tr:hover {background:#ccc; color:#000;}
.table thead tr:hover, table tbody tr:hover, .header .h2 img:hover {
-webkit-transition: all 0.8s ease-out;
-moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}

.fix_bottom {    position: fixed; bottom:0px;left:0px;right:0px;background:#eee;padding:5px;border-top:1px solid #ccc;}


.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    transition: 0.5s;
	border-right:1px solid #ccc;
}

.overlay-content {
    position: relative;
    top: 40px;
    width: 100%;
    text-align: left;
    margin-top: 0px; padding:0px;
}
.overlay-content p {
  margin: 0; padding:7px; border-top:1px solid #ccc;
}
.overlay .overlay-content a { background:url("grid.png") left;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 13px;
    color: #333;
    display: block;
    transition: 0.3s;
	border:1px solid #fff;
}
.overlay .overlay-content a:hover {
    background:#ddd;border:1px solid #aaa;
}

.overlay .closebtn {
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 25px; font-weight:700;
}
.overlay .closebtn img { width:20px;}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}